# Database Connection (Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:<your-db-password>@ep-cool-morning-b3wn32yl-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Neon REST Data API URL (Optional)
NEON_DATA_API_URL="https://ep-cool-morning-b3wn32yl.apirest.c-4.ap-southeast-1.aws.neon.tech/neondb/rest/v1"

# Frontend Access Lock Passcode (leave blank or unset to disable lock)
LOCK="secret123"

# Port (used for local server)
PORT=3001
